<div>
    <div>hello {{welcome}}</div>
    <div> items in ur cart</div>
    <ul ng-repeat='data in datas'>
        <li>
            <div>
                <div>fname {{data.fname}}</div>
                <div>lname {{data.lname}}</div>
                <div>tel {{data.tel}}</div>
            </div>
        </li>
    </ul>
</div>